@model RoomIndexPage;

<div class="app-room">

    <div class="app-panel app-border">

        <div class="app-search">

        </div>

        <div class="app-group">

            @foreach (var group in Model.Groups) {
                @group.Name <br>
            }

        </div>

    </div>

    <div class="app-chat app-border">

        <div class="app-messages">

            @foreach (var message in Model.Messages) {
                @if(Model.User.Id == message.User.Id) {
                    <div class="app-message-yours">
                        <div class="app-message-username"> Вы: @message.User.Name</div>
                        <div class="app-message-text">@message.Text</div>
                    </div>
                }
                else {
                    <div class="app-message">
                        <div class="app-message-username">@message.User.Name</div>
                        <div class="app-message-text">@message.Text</div>
                    </div>
                }
            }

        </div>

        <hr class="app-break-line" />

        <div class="app-input-line">
            <textarea class="" rows="3" autofocus spellcheck="true" placeholder="Введите сообщение"></textarea>
        </div>

    </div>
        
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/room.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/room.js" asp-append-version="true"></script>
}